.apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #302e2e;
    color: #fff;
}

.centralizacao{
    padding: 4rem 1rem 1rem 1rem; 
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.foto{
    height: 13rem;
  
}