<div class="apresentacao">
  <div class="centralizacao">
    <div>
      <h1 class="fw-semibold p-2">Wellington Barros</h1>
      <p class="fw-medium fs-4 p-2">Desenvolvedor Full Stack</p>
      <div>
        <p class="fs-6 p-2">Programador Full Stack com experiência em
        desenvolvimento e analise de software.
        <br>
        Procuro novas oportunidades para utilizar e
        desenvolver minhas habilidades.
        </p>
      </div>
    </div>
    <div class="imagem">
      <img class="foto" src="images/foto.jpg" alt="">
    </div>
  </div>
</div>