<div class="mainContainer">
  <div class="centralizacao">
    <div>
      <h1 class="fw-semibold p-2">Wellington Barros</h1>
      <p class="fw-medium fs-4 p-2">Desenvolvedor Full Stack</p>
      <div>
        <p class="fs-6 p-2">Programador Full Stack com experiência em
        desenvolvimento e analise de software.
        <br>
        Procuro novas oportunidades para utilizar e
        desenvolver minhas habilidades.
        </p>
      </div>
    </div>
    <div class="imagem">
      <img class="foto" src="images/foto.jpg" alt="">
    </div>
  </div>
</div>
<div class="mainContainer text-end p-2">
  <a href="https://www.linkedin.com/in/wellington-sb/"><img class="icones" src="images/linkwhite.png" alt=""></a>
  <a href="https://github.com/Wellohi"><img class="icones" src="images/gitwhite.png" alt=""></a>
</div>

<div class="secondaryContainer">
  <div class="text-center ">
    <h4 class="title">Experiência</h4>
  </div>
  <div class="secondaryBox">
    <img src="images/cfc.png" alt="" class="cfclogo">
    <br>
    <h4 class="fs-4 p-2">Desenvolvedor Full-Stack</h4>
    <ul>
      <li class="fs-6 p-2">
        Desenvolvimento e manutenção de sistemas com .NET e PHP.
      </li>
      <li class="fs-6 p-2">
        Contribuição no planejamento e desenvolvimento de interfaces utilizando Angular, tendo em foco o desempenho e experiência do usuário.
      </li>
      <li class="fs-6 p-2">
        Colaboração com a equipe de desenvolvimento para solucionar problemas técnicos com a manutenção e refatoração, visando a melhoria de interface e usabilidade dos projetos.
      </li>
      <li>
        Desenvolvimento de aplicação interna para gerenciamento na distribuição de funcionários a eventos da empresa, mantendo um controle dessa distribuição dentro do sistema a modo que possa ser manipulado e distribuido de forma justa a quantidade de funcionários de acordo com cada evento.
      </li>
    </ul>
    <h5 class="fs-5 text-end">Setembro 2022 – Setembro 2024</h5>
  </div>
</div>

<div class="tertiaryContainer"> 
  <div class="text-center ">
    <h4 class="title">Formação</h4>
  </div>
  <div class="primaryBox">
    <div class="text-end">
      <img class="estaciologo" src="images/estacio.png" alt="">
    </div>
    <div class="universidade text-center">
      <h4>Ciência da Computação</h4>
      <h4>Centro Universitário Estacio</h4>
      <h5>Janeiro 2020 - Junho 2024</h5>
    </div>
  </div>
</div>