<nav class="navbar-expand-md navegacao">
    <div class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="text-dark bg-light">Sobre</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contato" routerLinkActive="text-dark bg-light">Contato</a>
            </li>
            <li class="nav-item">
                <a routerLink="/curriculo" routerLinkActive="text-dark bg-light">Currículo</a>
            </li>
        </ul>
    </div>
</nav>